div.tooltip {
    position: absolute;
    padding: 10px;
    background: lightsteelblue;
    border-radius: 8px;
    pointer-events: none;
}

#reset-zoom{
    position: absolute;
    background: #007bff;
    font-weight: bold;
    padding: 5px;
    color: white;
}
