div.tooltip {
    position: absolute;
    padding: 10px;
    background: lightsteelblue;
    border-radius: .25rem;
    pointer-events: none;
}

#reset-zoom {
    position: absolute;
    background: #007bff;
    font-weight: bold;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: .25rem;
}

.map circle {
    opacity: 0.5;
}